<div class="grid formgrid p-fluid">
    <div class="col-12 mb-12 lg:col-12 lg:mb-2 py-3">
        <p-card>
            <div class="grid formgrid p-fluid">
                <div class="col-12 mb-12 lg:col-12 lg:mb-2 py-3">
                    <p-autoComplete [(ngModel)]="producto" [suggestions]="sugerencias"
                        (completeMethod)="autoComplete($event)" field="name" [dropdown]="true"
                        (onSelect)="agregar(producto)">
                        <ng-template let-prod pTemplate="item">
                            <div class="country-item">
                                <div>{{prod.nombre}}</div>
                                <div>{{prod.precio | currency:'USD'}}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                </div>

            </div>
        </p-card>

    </div>
</div>
<div class="grid formgrid p-fluid">

    <div class="col-12 mb-12 lg:col-9 lg:mb-2 py-3">
        <p-card>
            <p-table [value]="carrito" [tableStyle]="{'min-width': '50rem'}">

                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>Nombre </th>
                        <th>Precio</th>

                        <th>descripción</th>
                        <th>eliminar</th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-columns="columns">
                    <tr>
                        <td>{{product.nombre}}</td>
                        <td>{{product.precio | currency:'USD'}}</td>

                        <td>{{product.descripcion}}</td>
                        <td><button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                (click)="quitar(product)"></button></td>



                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
    <div class="col-12 mb-12 lg:col-3 lg:mb-2 py-3">
        <p-card>
            <div class="grid formgrid p-fluid">
                <div class="col-12 mb-12 lg:col-4 lg:mb-2 py-3">
                    <h3>Neto</h3>
                </div>
                <div class="col-12 mb-12 lg:col-6 lg:mb-2 py-3">
                    <h4>{{neto | currency:'$'}}</h4>
                </div>
            </div>
            <div class="grid formgrid p-fluid">
                <div class="col-12 mb-12 lg:col-4 lg:mb-2 py-3">
                    <h3>IVA</h3>
                </div>
                <div class="col-12 mb-12 lg:col-6 lg:mb-2 py-3">
                    <h4>{{iva | currency:'$'}}</h4>
                </div>
            </div>
            <div class="grid formgrid p-fluid">
                <div class="col-12 mb-12 lg:col-4 lg:mb-2 py-3">
                    <h3>Total</h3>
                </div>
                <div class="col-12 mb-12 lg:col-6 lg:mb-2 py-3">
                    <h4>{{total | currency:'$' }}</h4>
                </div>
            </div>
        </p-card>
    </div>
</div>

<div class="grid formgrid p-fluid">
    <div class="col-12 mb-12 lg:col-12 lg:mb-2 py-3">
        <p-card >
            <div class="grid formgrid p-fluid">
                <div class="col-12 mb-9 lg:col-9 lg:mb-2 py-3">
                    <span class="p-float-label">
                        <p-inputNumber id="descuento" [(ngModel)]="descuento"  ></p-inputNumber>
                        <label for="descuento">Descuento</label>
                    </span>
                </div>
                <div class="col-10 mb-3 lg:col-3 lg:mb-3 py-3" style="align-items: center;">
                    <p-button label="Pagar" icon="pi pi-save" iconPos="left"  (onClick)="pagar()"  ></p-button>
                </div>
               
            </div>
        </p-card>

    </div>
</div>